@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

main>.container>.phone-container {
    animation: slide-in-left 1s;
}

.message-incoming:nth-of-type(1) {
    opacity: 0;
    animation: slide-in-left 1s forwards;
    animation-delay: 0.6s;
}

.message-incoming:nth-of-type(2) {
    opacity: 0;
    animation: slide-in-left 1s forwards;
    animation-delay: 0.6s;
}

.message-outgoing:nth-of-type(3) {
    opacity: 0;
    animation: slide-in-left 1s forwards;
    animation-delay: 0.6s;
}

.message-outgoing:nth-of-type(4) {
    opacity: 0;
    animation: fade-in 0.5s forwards;
    animation-delay: 4.7s;
}

.message-outgoing:nth-of-type(5) {
    opacity: 0;
    animation: fade-in 0.5s forwards;
    animation-delay: 6.7s;
}

.message-incoming:nth-of-type(6) {
    opacity: 0;
    animation: fade-in 0.5s forwards;
    animation-delay: 7s;
}

.message-incoming-option:nth-of-type(7) {
    opacity: 0;
    animation: fade-in 0.5s forwards;
    animation-delay: 8s;
}

.message-incoming-option:nth-of-type(8) {
    opacity: 0;
    animation: fade-in 0.5s forwards;
    animation-delay: 8s;
}

.send-message {
    opacity: 0;
    animation: fade-in 0.5s forwards;
    animation-delay: 0.6s;

    .typewriter {
        display: inline;
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        max-width: 100%;
        animation: typing 1.8s steps(40, end);
    }
}