@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
}
main .container {
  width: 100%;
  min-height: 500px;
  position: relative;
  background-color: hsl(0deg, 0%, 98%);
}
main .container .graph-el-left {
  position: absolute;
  left: -50%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, hsl(279deg, 100%, 62%), hsl(264deg, 100%, 61%));
  border-radius: 0 0 500px 500px;
}
main .container .graph-el-right {
  position: absolute;
  width: 100%;
  height: 100%;
  right: -50%;
  top: -20%;
  border-radius: 500px 500px 0 0;
  background-color: hsl(290deg, 37%, 97%);
}
main .container .phone-container {
  position: relative;
  width: 250px;
  top: 4.5rem;
  background-color: #FFF;
  border-radius: 30px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  margin: auto;
  z-index: 999;
  padding: 15px;
}
main .container .phone-container .heading-box {
  border-radius: 20px 20px 5px 5px;
  background-image: linear-gradient(to left, hsl(293deg, 100%, 63%), hsl(264deg, 100%, 61%));
  color: #FFF;
}
main .container .phone-container .heading-box .heading-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px 15px 10px;
}
main .container .phone-container .heading-box .heading-content i {
  margin-top: 25px;
  font-size: 12px;
}
main .container .phone-container .heading-box .heading-content img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid #FFF;
  margin-top: 35px;
}
main .container .phone-container .heading-box .heading-content .heading-name {
  margin-top: 25px;
  width: 60%;
}
main .container .phone-container .heading-box .heading-content .heading-name h2 {
  font-size: 12px;
  margin-bottom: 0;
}
main .container .phone-container .heading-box .heading-content .heading-name p {
  font-size: 9px;
  margin: 5px 0 0 0;
  color: hsl(276deg, 100%, 81%);
}
main .container .phone-container .heading-box::before {
  content: "";
  width: 50%;
  height: 20px;
  border-radius: 0 0 20px 20px;
  background-color: #FFF;
  position: absolute;
  left: 25%;
  right: 25%;
}
main .container .phone-container .chat-box {
  width: 100%;
  background-color: hsl(270deg, 20%, 96%);
  border-radius: 0 0 20px 20px;
  font-size: 9px;
  display: inline-flex;
  flex-direction: column;
}
main .container .phone-container .chat-box .message-incoming,
main .container .phone-container .chat-box .message-outgoing,
main .container .phone-container .chat-box .message-incoming-option {
  max-width: 70%;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
}
main .container .phone-container .chat-box .message-incoming p,
main .container .phone-container .chat-box .message-outgoing p,
main .container .phone-container .chat-box .message-incoming-option p {
  padding: 10px;
  margin: 10px 10px 0 10px;
  width: 100%;
}
main .container .phone-container .chat-box .message-incoming {
  color: hsl(276deg, 55%, 52%);
}
main .container .phone-container .chat-box .message-incoming p {
  background-color: hsl(272deg, 41%, 93%);
  border-radius: 10px 10px 10px 3px;
}
main .container .phone-container .chat-box .message-outgoing {
  align-self: flex-end;
  text-align: end;
  color: hsl(271deg, 15%, 43%);
}
main .container .phone-container .chat-box .message-outgoing img {
  width: 45px;
  border-radius: 10px;
  margin: 10px 10px 0 0;
}
main .container .phone-container .chat-box .message-outgoing p {
  background-color: #FFF;
  border-radius: 10px 10px 3px 10px;
}
main .container .phone-container .chat-box .message-incoming-option p {
  background-image: linear-gradient(to right, hsl(293deg, 100%, 63%), hsl(264deg, 100%, 61%));
  border-radius: 10px 10px 10px 3px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
main .container .phone-container .chat-box .message-incoming-option p input {
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 15px;
  height: 15px;
  border: 1px solid hsl(289deg, 100%, 72%);
  border-radius: 100%;
}
main .container .phone-container .chat-box .message-incoming-option p input::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em red;
}
main .container .phone-container .chat-box .message-incoming-option p input:checked::before {
  transform: scale(1);
}
main .container .phone-container .chat-box .message-incoming-option p label {
  width: 50%;
  color: #FFF;
}
main .container .phone-container .chat-box .message-incoming-option p .price {
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
}
main .container .phone-container .chat-box .send-message {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
main .container .phone-container .chat-box .send-message .input-field {
  margin: 10px 0 10px 10px;
  height: 40px;
  border-radius: 20px 0 0 20px;
  border: none;
  width: 100%;
  background-color: #FFF;
  align-items: center;
  display: inline-flex;
  position: relative;
}
main .container .phone-container .chat-box .send-message .input-field p {
  position: absolute;
  left: 1rem;
  font-size: 11px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: hsl(206deg, 6%, 79%);
}
main .container .phone-container .chat-box .send-message .input-field p.typewriter {
  font-size: 9px;
}
main .container .phone-container .chat-box .send-message button {
  border: none;
  margin: 10px 10px 10px 0;
  background-color: #FFF;
  height: 40px;
  border-radius: 0 20px 20px 0;
}
main .container .phone-container .chat-box .send-message button i {
  background-color: hsl(271deg, 36%, 24%);
  border-radius: 100%;
  color: #FFF;
  padding: 8px;
  width: 15px;
}
main .container .text-container {
  text-align: center;
  padding: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
main .container .text-container h1 {
  margin-top: 0;
  font-weight: 500;
  font-size: 2.5rem;
  color: hsl(271deg, 36%, 24%);
  align-self: center;
}
main .container .text-container p {
  color: hsl(270deg, 7%, 64%);
  line-height: 30px;
  margin-top: 0;
}

/* MEDIA QUERIES - DESKTOP */
@media screen and (min-width: 1440px) {
  main > .container {
    width: 50%;
    height: 100vh;
  }
  main > .container .graph-el-left {
    left: -30%;
    height: 90vh;
    width: 90%;
  }
  main > .container .graph-el-right {
    bottom: 0;
    top: unset;
    height: 90vh;
    width: 90%;
  }
  main > .container .phone-container {
    margin: unset;
    position: absolute;
    right: 80px;
  }
  main > .container .text-container {
    text-align: unset;
    padding: 0 16rem 0 1rem;
  }
  main > .container .text-container h1 {
    align-self: unset;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
main > .container > .phone-container {
  animation: slide-in-left 1s;
}

.message-incoming:nth-of-type(1) {
  opacity: 0;
  animation: slide-in-left 1s forwards;
  animation-delay: 0.6s;
}

.message-incoming:nth-of-type(2) {
  opacity: 0;
  animation: slide-in-left 1s forwards;
  animation-delay: 0.6s;
}

.message-outgoing:nth-of-type(3) {
  opacity: 0;
  animation: slide-in-left 1s forwards;
  animation-delay: 0.6s;
}

.message-outgoing:nth-of-type(4) {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 4.7s;
}

.message-outgoing:nth-of-type(5) {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 6.7s;
}

.message-incoming:nth-of-type(6) {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 7s;
}

.message-incoming-option:nth-of-type(7) {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 8s;
}

.message-incoming-option:nth-of-type(8) {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 8s;
}

.send-message {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 0.6s;
}
.send-message .typewriter {
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  max-width: 100%;
  animation: typing 1.8s steps(40, end);
}

/*# sourceMappingURL=style.css.map */
